.imageElementLink {
  text-align: center;
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

.newsletter {
  background-color: #03054e;
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  padding: 60px 10px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}
.imageElement--filial-image {
  border-bottom: 8px solid #fcc200;
}
@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}

.logoImage {
  display: inline-block;
  vertical-align: middle;
  border: 0;
  max-width: 145px;
  padding-top: 0;
  margin-left: 16px;
}

.infoCardContainer--timedAcct {
  width: 150px;
  height: 150px;
  padding: 50px;
  margin: 15px;
  border-radius: 100%;
  border: #dedede 3px solid;
  margin: 0 auto;
  position: relative;
}

.infoCardHeadline--timedAcct {
  position: absolute;
  bottom: -35px;
  text-align: center;
  margin: 15px 0 0;
  font-size: 16px;
}

.infoCardSubhead--timedAcct {
  position: absolute;
  bottom: -60px;
  font-size: 13px !important;
  text-align: center;
  margin: 0;
}

.infoCardCallActionContainer--timedAcct {
  display: none;
}

.imageElement--porqueAcct:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  transition: 0.6s;
  filter: opacity(0.7);
}

.imageElement--trustedAcct {
  display: block;
  max-width: 300px;
  margin: 20px auto 40px auto;
  transition: 0.6s;

  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE */
}

.imageElement--trustedAcct:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-filter: none;
  filter: none;
}

.imageElement--somoAcct {
  max-width: 538px;
  max-height: 368px;
  width: auto;
  height: auto;
}
@media screen and (max-width: 880px) {
  .imageElement--m-image-footer {
    margin-bottom: 64px;
  }
}
