.heading--h2-footer{
    color: #333;
    text-transform: uppercase;
    font-size: 0.85em;
    letter-spacing: 1px;
    margin: 0 0 1em 0;
}

.paragraph--p-footer{
    color: #222;
    font-size: 0.85rem;
    margin: 1.5rem 0;
}

@media screen and (max-width: 768px) {
    .container--h2-footer, .container--p-footer{
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .container--p-footer{
        margin-bottom: 32px;
    }   
}
