.styledLinkContent{
    font-family:Arial, Helvetica, sans-serif;
    font-size: inherit;
    cursor: pointer;
    color:#3f3f40;
    margin-left: -0.6rem;
    margin-right: -0.4rem;    
}

.styledLinkContainer{
    color:#3f3f40;
}

.styledLinkIcon{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
   color: #3f3f40;
    margin-left: 10px;
}

.submenuWrapper--batatinhafrita{
    margin-left: 200px;
    margin-top:-1px;
}

.submenuWrapper--cocacola{
    margin-left: 200px;
    margin-top:-1px;
}

.styledLinkIcon :hover,
.styledLink :hover,
<<<<<<< HEAD
.styledLinkContainer :hover,
.styledLinkContent :hover {
    color: #fcc200 !important;
} 
.styledLinkContainer :focus,
.styledLinkContent :focus,
.menuItem :focus  {
    color: #fcc200;
=======
.styledLinkContainer :hover{
    color: #ffb100;
>>>>>>> cd712ab7640733fa0c098cb794fce0d038e3caec
}


.styledLinkIcon  ::after{
    color: #fcc200;
}
