.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}

.flex-layout.row--servicos--header :global(.vtex-store-components-3-x-container){
  padding: 0;
}

@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

.flexRowContent--menu-link {
  font-family: "Open Sans" !important;
  background-color: #03044e;
  color: #fff;
}

.flexRowContent--main-header {
  font-family: "Open Sans" !important;
  background-color: #ffffff;
  display:flex;
  flex-direction: row;
  height: 90.4375px;
}

.logoheader {
  height: 100%;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #ffffff;

}
.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}
.flexRow--deals {
  background-color: #a7afbd;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}



.flexRow--menu-row{
  background-color: #F8F8F8;
}

.flexRow--footer-row{
  max-width: 1200px;
}

.flexCol--footer_logo_col{
  max-width: 145px;
  gap: 20px;
}

.flexRow--porqueacct {
  padding: 14px 0px;
}

.flexRow--porqueacct .stretchChildrenWidth {
  align-items: center;
}

.flexCol--menulang{
  width: 20%;
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.flexRow--porqueacct .flexCol {
  align-items: center;
}

@media screen and (max-width: 880px) {
  .flexRowContent--social-mobile{
    align-items: center;
    margin-bottom: 32px;
  }
  .flexCol--footer_logo_col{
    margin-bottom: 64px;
  }
  .flexRowContent--footer-row{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}



